.mat-drawer-container{
    height: 100vh;
    background: rgb(147,0,255);
    background: -moz-linear-gradient(90deg, rgba(147,0,255,1) 0%, rgba(98,0,176,1) 0%, rgba(0,25,164,1) 0%, rgba(11,0,18,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(147,0,255,1) 0%, rgba(98,0,176,1) 0%, rgba(0,25,164,1) 0%, rgba(11,0,18,1) 100%);
    background: linear-gradient(90deg, rgba(147,0,255,1) 0%, rgba(98,0,176,1) 0%, rgba(0,25,164,1) 0%, rgba(11,0,18,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9300ff",endColorstr="#0b0012",GradientType=1);
}

.logo{
    width: 100%;
    height: 56px;
    background-size: contain;
}

.menu-icon{
    cursor: pointer;
}

.sidenav{
    width: 300px;
    background: rgb(147,0,255);
    background: -moz-linear-gradient(90deg, rgba(147,0,255,1) 0%, rgba(98,0,176,1) 0%, rgba(21,6,97,1) 24%, rgba(19,0,33,1) 88%);
    background: -webkit-linear-gradient(90deg, rgba(147,0,255,1) 0%, rgba(98,0,176,1) 0%, rgba(21,6,97,1) 24%, rgba(19,0,33,1) 88%);
    background: linear-gradient(90deg, rgba(147,0,255,1) 0%, rgba(98,0,176,1) 0%, rgba(21,6,97,1) 24%, rgba(19,0,33,1) 88%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9300ff",endColorstr="#130021",GradientType=1);
    color: white;
    border-radius: 0px 40px 40px 0px;
}

.logo-container{
    border-bottom: 1px solid rgba(0,0,0,0.04);
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
    display: flex;
    align-items: center;
}

mat-toolbar, mat-toolbar-row{
    min-height: 56px;
    height: 56px;
    background-color: white;
    color: rgb(71, 54, 255);
    border-radius: 40px;
    width: 100%;
    
}

.menu-items{
    list-style-type: none;
    padding: 0;
    margin: 20px;

    li{
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;

        mat-icon{
            margin-right: 16px;
        }

        &:hover{
            background-color: rgba(255, 255, 255, 0.29);
            border-radius: 20px;
            font-size: 18px;
        }
    }
}

.router-container{
    padding-left: 56px;
    padding-top: 16px;
    padding-right: 56px;
}