.date-field{
    padding: 0px;
    display: flex;
    gap: 40px;
    width: 100%;
}

.margin{
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 16px;
}

.main-content{
    width: 600px;
    display: grid;
    padding: 40px;
}


