<div class="main-content">

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Add Task</h1>



    <mat-form-field class="margin employee-name-class">
        <mat-label>Employee Name</mat-label>
        <input [disabled]="loading" [(ngModel)]="task.employeeName" matInput >
        <mat-hint>Please enter the responsible employee</mat-hint>
    </mat-form-field>


<div mat-dialog-content class="date-field margin">
    <mat-form-field>
        <mat-label>date of task start</mat-label>
        <input [disabled]="loading"  [(ngModel)]="startTime" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Choose a deadline</mat-label>
        <input [disabled]="loading"  [(ngModel)]="deadline" matInput [matDatepicker]="picker1">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
</div>


<mat-form-field class="margin">
    <mat-label>Task Name</mat-label >
    <input [disabled]="loading" [(ngModel)]="task.taskName" matInput >
    <mat-hint>Please enter a name for the task</mat-hint>
</mat-form-field>

<mat-form-field class="margin">
    <mat-label>Task Name</mat-label>
    <input [disabled]="loading" [(ngModel)]="task.description" matInput >
    <mat-hint>Please enter a description</mat-hint>
</mat-form-field>

<mat-form-field class="margin">
    <mat-label></mat-label>
    <input [disabled]="loading" [(ngModel)]="task.customerName" matInput >
    <mat-hint>Please enter a Customer Name</mat-hint>
</mat-form-field>

<mat-form-field class="margin">
    <mat-label></mat-label>
    <input [disabled]="loading" [(ngModel)]="task.location" matInput >
    <mat-hint>Please enter a location</mat-hint>
</mat-form-field>




<mat-dialog-actions>
    <div class="buttons-dialog">
        <button [disabled]="loading" class="ml-16" mat-flat-button >Cancel</button>
        <button [disabled]="loading" mat-flat-button (click)="saveTask()">Save</button>
    </div>
  

</mat-dialog-actions>
</div>