<h1 mat-dialog-title>Add User</h1>
<div mat-dialog-content>
    <mat-form-field class="mr-16">
        <mat-label>First Name</mat-label>
        <input [(ngModel)]="user.firstName" matInput >
        <mat-hint>Please enter a name</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input [(ngModel)]="user.lastName" matInput >
        <mat-hint>Please enter a name</mat-hint>
    </mat-form-field>
</div>

<div mat-dialog-content>
    <mat-form-field class="full-width">
        <mat-label>Choose a date</mat-label>
        <input [(ngModel)]="birthDate" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>

<div mat-dialog-content>
    <mat-form-field class="full-width">
        <mat-label>Street + House No.</mat-label>
        <input [(ngModel)]="user.street" matInput >
    </mat-form-field>
</div>

<div mat-dialog-content>
    <mat-form-field class="mr-16">
        <mat-label>Zip code</mat-label>
        <input [(ngModel)]="user.zipCode" matInput >
    </mat-form-field>

    <mat-form-field>
        <mat-label>City</mat-label>
        <input [(ngModel)]="user.city" matInput >
    </mat-form-field>
</div>

<mat-dialog-actions>
    <div class="buttons-dialog">
        <button class="ml-16" mat-flat-button>Cancel</button>
        <button (click)="saveUser()" mat-flat-button>Save</button>
    </div>
</mat-dialog-actions>