<body>
 <mat-card>
  <table class="user-table">
    <tr>
        <th class="table-head">Employee Name</th>
        <th class="table-head">Start Time</th>
        <th class="table-head">Deadline</th>
        <th class="table-head">Task</th>
        <th class="table-head">Customer Name</th>
        <th class="table-head">Location</th>
    </tr>

    @for(user of firestoreService.userList; track user.firstName)  {
      <tr routerLink="/user/{{user.id}}">
        <td>Employee Name</td>
        <td>Start Time</td>
        <td>Deadline</td>
        <td>Task</td>
        <td>Customer Name</td>
        <td>Task</td>
      </tr>
    }
  </table>
</mat-card>



<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add User">
    <mat-icon>add</mat-icon>
  </button>
</body>
