
.title{
    padding: 16px;
}

.dialog-content{
    padding: 16px;
}

.full-width{
    width: 93%;
    padding-left: 16px;
    padding-right: 16px;
}

.btns{
    margin-top: 32px;
    margin-bottom: 16px;
}
