

.add-user-btn{
    position: absolute;
    right: 56px;
    bottom: 56px;
}


.user-table{
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(123, 0, 255);
    color: white;
    th{
        color: rgba( 0,0,0,0.4);
        font-size: 16px;
        text-align: start;
        padding-top: 16px;
        color: white;
        &:first-child{
            padding-left: 16px;
        }
    }
    tr{
        border-bottom: 1px solid rgba( 0,0,0,0.04);    
        cursor: pointer;
        &:hover{
        background-color:  rgba(20, 20, 20, 0.1);
        }
        &:first-child{
        cursor: unset;
        background-color: unset;
        }
        &:last-child {
        border-bottom: 0px;
        }

    td{
        height: 48px;
        &:first-child{
            padding-left: 16px;
        }
    }
}

li {
    list-style-type: none;
  }
}

